[submodule "module_1"]
	path = module_1
	url = https://github.com/alice-dub/module_1
	branch = master
[submodule "module_2"]
	path = module_2
	url = https://github.com/alice-dub/module_2
	branch = master
